
/*
Individual playlist items. Includes edit and delete buttons
*/
h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

.playlist-item {
  background-color: rgb(242, 242, 242);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  max-width: 20vw;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.playlist-header {
  display: flex;
  align-items: center;
}

.playlist-header h3 {
  margin-right: auto;
}

.list-of-songs {
  list-style: none;
  background-color: rgba(255, 192, 203, 1);
}

.list-of-songs .song-item:nth-child(even) {
  background-color: #e34e4e; /* Lighter shade of pink */
}

.song-item {
  width: 100%;
}
