
/*
Individual playlist items. Includes edit and delete buttons
*/

.playlist-container {
  border-right: 1px solid black;
}
button {
  cursor: pointer;
}


.playlist-container .add-btn{
  margin: 20px;
}

.playlist-item {
  background-color: #d27f60;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  max-width: 30vw;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;

}

.playlist-header {
  display: flex;
  align-items: center;
  margin: 10px;
  background-color: pink;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid black;
}

.playlist-header h3 {
  margin-right: auto;
  font-size: 1.5rem;
  font-family: 'Comfortaa', 'Times New Roman', Times, serif;
}

.list-of-playlists{
  min-width: 75%;
  overflow: auto;

}

.list-of-songs {
  list-style: none;
  background-color: #c38a5d;
  gap: 5px;

}

.song-item:nth-child(even) {
  background-color: #ffc190; 
}

.song-item {
  width: 100%;
  background-color: #fae4a8;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px 0;
  padding: 5px;
  font-family: 'Comfortaa', 'Times New Roman', Times, serif;
}

.draggable:hover {
  cursor: pointer;
}

.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

.title-word-4 {
  --color-1: #3D8DAE;
  --color-2: #DF8453;
  --color-3: #E4A9A8;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

/* Here are just some visual styles. 🖌 */

.container {
  display: grid;
  place-items: center;  
  text-align: center;
  height: 10vh
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 3vw;
  text-transform: uppercase;
}
