
/*
Individual playlist items. Includes edit and delete buttons
*/

.playlist-container {
  border-right: 1px solid black;
}
button {
  cursor: pointer;
}


.playlist-container .add-btn{
  margin: 20px;
}

.playlist-item {
  background-color: #d27f60;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  max-width: 30vw;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;

}

.playlist-header {
  display: flex;
  align-items: center;
  margin: 10px;
  background-color: pink;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid black;
}

.playlist-header h3 {
  margin-right: auto;
  font-size: 1.5rem;
}

.list-of-playlists{
  min-width: 75%;
  overflow: auto;

}

.list-of-songs {
  list-style: none;
  background-color: #c38a5d;
  gap: 5px;

}

.song-item:nth-child(even) {
  background-color: #ffc190; 
}

.song-item {
  width: 100%;
  background-color: #fae4a8;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px 0;
  padding: 5px;
}

.draggable:hover {
  cursor: pointer;
}
