.results-table {
  background-color: gray;
  width: 75%;
  min-height: 50%;
  margin: auto;
  text-align: center;
  margin-top: 20%;
  padding: 30px;
}

form {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color: pink;
  border-radius: 15px;
  margin: auto;
}

.search-form input {
  flex: 1 0 70%;
}

.search-form button {
  width: 100%;
  flex: 0 0 30%;
}

.search-item {
  list-style: none;
  margin: 10px 0;
}

.search-item {
  min-height: 100%;
}

.search-item:nth-child(even) {
  background-color: white;
}