.results-table {
  background-color: #b8eb9a4b;
  width: 75%;
  min-height: 50%;
  margin: auto;
  text-align: center;
  margin-top: 20%;
  padding: 30px;
  border-radius: 15px;
  border: 1px solid black;
}

form {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color: pink;
  border-radius: 15px;
  margin: auto;
  border-radius: 15px;
  border: 1px solid black;
  justify-content: space-between;
}

input {
  min-width: 80%;
}

form button {
  min-width: 20%;
}

.search-item {
  list-style: none;
  width: 100%;
  background-color: #fae4a8;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px 0;
  padding: 5px;

}

.search-item {
  min-height: 100%;
}

.search-item:nth-child(even) {
  background-color: #ffc190; 
}

.title {
  height: 30vh;
  text-shadow: rgba(2, 0, 0, 0.288) 12px 10px 2px;
  -webkit-text-stroke: 2px rgb(76, 93, 189);
}

.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

.title-word-4 {
  --color-1: #3D8DAE;
  --color-2: #DF8453;
  --color-3: #E4A9A8;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}
