.results-table {
  background-color: #d27f60;
  width: 75%;
  min-height: 50%;
  margin: auto;
  text-align: center;
  margin-top: 20%;
  padding: 30px;
  border-radius: 15px;
  border: 1px solid black;
}

form {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color: pink;
  border-radius: 15px;
  margin: auto;
  border-radius: 15px;
  border: 1px solid black;
  justify-content: space-between;
}

input {
  min-width: 80%;
}

form button {
  min-width: 20%;
}

.search-item {
  list-style: none;
  width: 100%;
  background-color: #fae4a8;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px 0;
  padding: 5px;

}

.search-item {
  min-height: 100%;
}

.search-item:nth-child(even) {
  background-color: #ffc190; 
}


