#root {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

body {
  margin: 0;
  padding: 0;
}

.playlist-container {
  width: 40%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-container {
  width: 60%;
  height: 100vh;
}