#root {
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.playlist-container {
  min-height: 100%;
  width: 30%;
  border: 1px solid blue;
}

.search-container {
  min-height: 100%;
  width: 70%;
  border: 1px solid red;
  background: red;
  overflow: hidden;
}