.right-side {
  display: flex;
  height: 100vh;
  width: 40%;
  border: 1px solid black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.right-side h2{
  font-size: 3.5rem;
}

.right-side p{
  font-size: 1rem;
  width: 50%;
}


.right-side button {
  height: 50px;
  width: 200px;
}

.right-side button:hover {
  cursor: pointer;
}

img {
  height: 500px;
  width: 300px;
}