.landing-image {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}

.note {
  width: 100px;
  height: 100px;
}

.right-side {
  display: flex;
  height: 100vh;
  width: 50%;
  transform: translate(-15%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.right-side h2 {
  font-size: 6rem;
}

.right-side p {
  font-size: 1.2rem;
  width: 50%;
  line-height: 30px;
}


.right-btn {
  height: 50px;
  width: 50%;
  border-radius: 20px;
}

.right-side button:hover {
  cursor: pointer;
}

.right-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 20px auto;
  width: 250px;
  height: 250px;
  background-color: #fff2d7;
  border-radius: 75px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
  transition: 1s box-shadow;
}

.right-btn:hover {
  box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}

.right-btn:hover::before, .right-btn:hover::after {
  display: block;
  content: '';
  position: absolute;
  width: 250px;
  height: 250px;
  background: #FDA8CF;
  border-radius: 75px;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.right-btn:hover:after {
  background: #F3CE5E;
  animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;    
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;    
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;    
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;    
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;    
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;    
  }
}

img {
  height: 500px;
  width: 300px;
}

.list-of-notes {
  display: flex;
  transform: translateY(150px);
}

.note {
  list-style: none;
  font-size: 4rem;
  height: 96px;
  width: 30px;
  position: absolute;
  left: 30%;
  font-size: 35px;
  color: white;
  animation-name: notes;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  opacity: 0;
}

.note:first-child {
  left: 35%;
}

.note:last-child {
  left: 40%;
}

.note:nth-child(2n) {
  animation-delay: 1s;
}
.note:nth-child(3n) {
  animation-delay: 1.5s;

}

@keyframes notes {
  0% {
    font-size: 35px;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    font-size: 60px;
    margin-top: -150px;
    opacity: 0;
  }
}

.right-side {
  position: relative;
}

.right-side h2 {
  color: #fff;
  font-size: 8em;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  position: absolute;
  transform: translate(-50%, -50%);
  margin-bottom: 400px;
  margin-left:650px;
  text-shadow: rgba(2, 0, 0, 0.171) 12px 10px 2px;
}

.right-side h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px black;
}

.right-side h2:nth-child(2) {
  color: blue;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
