.landing-image {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}

.note {
  width: 100px;
  height: 100px;
}

.right-side {
  display: flex;
  height: 100vh;
  width: 40%;
  border: 1px solid black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.right-side h2 {
  font-size: 3.5rem;
}

.right-side p {
  font-size: 1rem;
  width: 50%;
}


.right-side button {
  height: 50px;
  width: 200px;
}

.right-side button:hover {
  cursor: pointer;
}

img {
  height: 500px;
  width: 300px;
}

.list-of-notes {
  display: flex;
  transform: translateY(150px);
}

.note {
  list-style: none;
  font-size: 4rem;
  height: 96px;
  width: 30px;
  position: absolute;
  left: 40%;
  font-size: 35px;
  color: white;
  animation-name: notes;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  opacity: 0;
}

.note:first-child {
  left: 35%;
}

.note:last-child {
  left: 45%;
}

.note:nth-child(2n) {
  animation-delay: 1s;
}
.note:nth-child(3n) {
  animation-delay: 2s;

}

@keyframes notes {
  0% {
    font-size: 35px;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    font-size: 60px;
    margin-top: -150px;
    opacity: 0;
  }
}